In [47]:
#1 
import json
import calendar
import random 
from datetime import date, timedelta

import faker
import numpy as  np
from pandas import DataFrame
from delorean import parse
import pandas as pd

#make the graphs nicer
pd.set_option('display.mpl_style','default')

#import matplotlib.pyplot as plt
#import matplotlib
#matplotlib.style.use('ggplot')

/Users/JORGEURIBESOLORZANO/virtualenvs/envjupyter/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2881: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [48]:
#2
fake = faker.Faker()

In [49]:
#3
usernames = set()
usernames_no =  1000
#usernames_no =  1000
#populate the set with 1000 unique user names
while len(usernames) < usernames_no:
    usernames.add(fake.user_name())

In [50]:
#4
def get_random_name_and_gender():
    skew = .6 # 60% of users will be female
    male = random.random() > skew
    if male:
        return fake.name_male(), 'M'
    else:
        return fake.name_female(), 'F'

def get_users( usernames):
    users = []
    for username in usernames:
        name, gender = get_random_name_and_gender()

        user = {
            'username': username,
            'name': name,
            'gender': gender,
            'email': fake.email(),
            'age': fake.random_int( min = 18,max = 90),
            'address': fake.address(),
        }
        users.append( json.dumps( user))
    return users

users = get_users( usernames)
users[: 2]

['{"username": "omccall", "name": "Janet Hunt", "gender": "F", "email": "dcarroll@yahoo.com", "age": 23, "address": "53005 Joseph Underpass Suite 630\\nLake Crystal, IN 52553-9396"}',
 '{"username": "andreabaxter", "name": "Jamie Campbell", "gender": "F", "email": "juliehouse@small.com", "age": 24, "address": "7925 Morris Wall Suite 659\\nDiazville, AL 80776-5499"}']

In [51]:
#5 
# Campaign name format 
# 
#InternalType_StartDate_EndDate_TargetAge_TargetGender_Currency

def get_type():
    #just some giberrish internal codes 
    types = ['AKX', 'BYU', 'GRZ', 'KTR']
    return random.choice(types)

def get_start_end_dates():
    duration = random.randint(1, 2 * 365)
    offset = random.randint(-365 , 365)
    start = date.today() - timedelta(days=offset)
    end = start + timedelta(days=duration)
    
    def _format_date(date_):
        return date_.strftime("%Y%m%d")
    
    return _format_date(start), _format_date(end)

def get_age():
    age = random.randint(20, 45)
    age -= age % 5 
    diff = random.randint(5, 25)
    diff -= diff % 5 
    return '{}-{}'.format(age, age + diff)

def get_gender():
    return random.choice(('M', 'F', 'B'))

def get_currency(): 
    return random.choice(('GPB', 'EUR', 'USD'))

def get_campaign_name():
    separator = '_'
    type_ = get_type()
    start_end = separator.join(get_start_end_dates())
    age = get_age()
    gender = get_gender()
    currency = get_currency()
    return separator.join((type_, start_end, age, gender, currency))

In [52]:
#6 

def get_campaign_data(): 
    name = get_campaign_name() 
    budget = random.randint( 10** 3, 10** 6) 
    spent = random.randint( 10** 2, budget) 
    clicks = int( random.triangular( 10** 2, 10** 5, 0.2 * 10** 5)) 
    impressions = int( random.gauss( 0.5 * 10** 6, 2)) 
    return { 
        'cmp_name': name, 
        'cmp_bgt': budget, 
        'cmp_spent': spent, 
        'cmp_clicks': clicks, 
        'cmp_impr': impressions }

In [53]:
#7

def get_data( users): 
    data = [] 
    for user in users: 
        campaigns = [get_campaign_data() for _ in range( random.randint( 2, 8))] 
        data.append({'user': user, 'campaigns': campaigns}) 
    return data

In [54]:
#8 
rough_data = get_data(users)
rough_data[:2]  # let's get a peek

[{'campaigns': [{'cmp_bgt': 127831,
    'cmp_clicks': 34102,
    'cmp_impr': 500001,
    'cmp_name': 'BYU_20160626_20170228_25-30_M_USD',
    'cmp_spent': 88196},
   {'cmp_bgt': 929226,
    'cmp_clicks': 27671,
    'cmp_impr': 500000,
    'cmp_name': 'AKX_20161130_20180115_30-50_M_USD',
    'cmp_spent': 140098},
   {'cmp_bgt': 399566,
    'cmp_clicks': 45415,
    'cmp_impr': 499999,
    'cmp_name': 'AKX_20160702_20180116_45-50_B_GPB',
    'cmp_spent': 36722},
   {'cmp_bgt': 856049,
    'cmp_clicks': 27155,
    'cmp_impr': 500001,
    'cmp_name': 'BYU_20161218_20180730_30-55_B_USD',
    'cmp_spent': 35174}],
  'user': '{"username": "omccall", "name": "Janet Hunt", "gender": "F", "email": "dcarroll@yahoo.com", "age": 23, "address": "53005 Joseph Underpass Suite 630\\nLake Crystal, IN 52553-9396"}'},
 {'campaigns': [{'cmp_bgt': 583403,
    'cmp_clicks': 31944,
    'cmp_impr': 499998,
    'cmp_name': 'AKX_20160918_20180714_20-45_M_GPB',
    'cmp_spent': 195267},
   {'cmp_bgt': 393147,
    'cmp_clicks': 29162,
    'cmp_impr': 500002,
    'cmp_name': 'BYU_20180205_20190302_20-35_B_GPB',
    'cmp_spent': 141533}],
  'user': '{"username": "andreabaxter", "name": "Jamie Campbell", "gender": "F", "email": "juliehouse@small.com", "age": 24, "address": "7925 Morris Wall Suite 659\\nDiazville, AL 80776-5499"}'}]

In [55]:
#9 
''''''
data = []
for datum in rough_data :
    for campaign in datum['campaigns']:
        campaign.update({'user' : datum['user']})
        data.append(campaign)
    data[:2] # let's take another peek
''''''
data = [] 
for datum in rough_data: 
    for campaign in datum['campaigns']: 
        campaign.update({'user': datum['user']}) 
        data.append(campaign)
    #print(*data, sep='\n')
    #data[:] # let's take another peek

In [56]:
#10 

df = DataFrame(data) 
df.head()

,cmp_bgt,cmp_clicks,cmp_impr,cmp_name,cmp_spent,user
0,127831,34102,500001,BYU_20160626_20170228_25-30_M_USD,88196,"{""username"": ""omccall"", ""name"": ""Janet Hunt"", ..."
1,929226,27671,500000,AKX_20161130_20180115_30-50_M_USD,140098,"{""username"": ""omccall"", ""name"": ""Janet Hunt"", ..."
2,399566,45415,499999,AKX_20160702_20180116_45-50_B_GPB,36722,"{""username"": ""omccall"", ""name"": ""Janet Hunt"", ..."
3,856049,27155,500001,BYU_20161218_20180730_30-55_B_USD,35174,"{""username"": ""omccall"", ""name"": ""Janet Hunt"", ..."
4,583403,31944,499998,AKX_20160918_20180714_20-45_M_GPB,195267,"{""username"": ""andreabaxter"", ""name"": ""Jamie Ca..."

In [57]:
#11 

df.count()

cmp_bgt       5105
cmp_clicks    5105
cmp_impr      5105
cmp_name      5105
cmp_spent     5105
user          5105
dtype: int64

In [58]:
#12 

df.describe()

             cmp_bgt    cmp_clicks       cmp_impr      cmp_spent
count    5105.000000   5105.000000    5105.000000    5105.000000
mean   492929.105583  40267.602155  499999.519882  245519.495397
std    287696.965507  21765.760903       1.991175  217348.399969
min      1147.000000    240.000000  499992.000000     132.000000
25%    239645.000000  22716.000000  499998.000000   64138.000000
50%    493045.000000  37514.000000  500000.000000  182993.000000
75%    739233.000000  55510.000000  500001.000000  377045.000000
max    999827.000000  98373.000000  500007.000000  991851.000000

In [59]:
#13 

df.sort_index( by =['cmp_bgt'],ascending = False).head( 3)

/Users/JORGEURIBESOLORZANO/virtualenvs/envjupyter/lib/python3.6/site-packages/ipykernel/__main__.py:3: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  app.launch_new_instance()

,cmp_bgt,cmp_clicks,cmp_impr,cmp_name,cmp_spent,user
2839,999827,73516,500000,AKX_20170221_20180628_25-45_F_GPB,635890,"{""username"": ""todd33"", ""name"": ""Samantha Jones..."
1185,999812,35520,500000,KTR_20160520_20170929_20-40_F_EUR,693232,"{""username"": ""johnbryant"", ""name"": ""Kenneth Ro..."
2047,999666,34451,499998,KTR_20160817_20171015_35-60_F_USD,210388,"{""username"": ""donaldhill"", ""name"": ""Lisa Durha..."

In [60]:
#14

df.sort_index( by =['cmp_bgt'],ascending = False).tail(3)

/Users/JORGEURIBESOLORZANO/virtualenvs/envjupyter/lib/python3.6/site-packages/ipykernel/__main__.py:3: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  app.launch_new_instance()

,cmp_bgt,cmp_clicks,cmp_impr,cmp_name,cmp_spent,user
1425,1676,34006,500001,GRZ_20160630_20170408_20-35_B_GPB,1033,"{""username"": ""salazarjohn"", ""name"": ""Benjamin ..."
2201,1307,35684,499998,GRZ_20171018_20171027_35-55_B_GPB,665,"{""username"": ""kelly75"", ""name"": ""Alexis Moyer""..."
1709,1147,61902,499996,AKX_20160628_20180202_20-45_B_USD,199,"{""username"": ""markjackson"", ""name"": ""Alicia Gl..."

In [65]:
#15 

def unpack_campaign_name(name): 
    # very optimistic method, assumes data in campaign name 
    # is always in good state 
    dayfirts=False
    yearfirst=True
    type_, start, end, age, gender, currency = name.split('_') 
    start = parse(start).date 
    end = parse(end).date 
    return type_, start, end, age, gender, currency 

campaign_data = df['cmp_name'].apply(unpack_campaign_name) 
campaign_cols = [ 'Type', 'Start', 'End', 'Age', 'Gender', 'Currency'] 
campaign_df = DataFrame(campaign_data.tolist(), columns = campaign_cols, index = df.index) 
campaign_df.head( 3)

  Type       Start         End    Age Gender Currency
0  BYU  2016-06-26  2017-02-28  25-30      M      USD
1  AKX  2016-11-30  2018-01-15  30-50      M      USD
2  AKX  2016-02-07  2018-01-16  45-50      B      GPB

In [66]:
#16

df = df.join(campaign_df)

In [67]:
#17

df[['cmp_name'] + campaign_cols].head(3)

,cmp_name,Type,Start,End,Age,Gender,Currency
0,BYU_20160626_20170228_25-30_M_USD,BYU,2016-06-26,2017-02-28,25-30,M,USD
1,AKX_20161130_20180115_30-50_M_USD,AKX,2016-11-30,2018-01-15,30-50,M,USD
2,AKX_20160702_20180116_45-50_B_GPB,AKX,2016-02-07,2018-01-16,45-50,B,GPB

In [68]:
#18 
def unpack_user_json(user): 
    # very optimistic as well, expects user objects 
    # to have all attributes 
    user = json.loads( user.strip()) 
    return [ 
        user['username'], 
        user['email'], 
        user['name'], 
        user['gender'],
        user['age'], 
        user['address'], 
    ] 

user_data = df['user'].apply(unpack_user_json) 
user_cols = [ 'username', 'email', 'name', 'gender', 'age', 'address'] 
user_df = DataFrame( user_data.tolist(), columns = user_cols, index = df.index)

In [69]:
#19 
df = df.join(user_df)

In [70]:
#20 

df[['user'] + user_cols].head( 2)

,user,username,email,name,gender,age,address
0,"{""username"": ""omccall"", ""name"": ""Janet Hunt"", ...",omccall,dcarroll@yahoo.com,Janet Hunt,F,23,53005 Joseph Underpass Suite 630\nLake Crystal...
1,"{""username"": ""omccall"", ""name"": ""Janet Hunt"", ...",omccall,dcarroll@yahoo.com,Janet Hunt,F,23,53005 Joseph Underpass Suite 630\nLake Crystal...

In [71]:
#21 

better_columns = [ 
    'Budget', 'Clicks', 'Impressions', 
    'cmp_name', 'Spent', 'user', 'Type', 
    'Start', 'End', 'Target Age', 'Target Gender', 
    'Currency', 'Username', 'Email', 
    'Name', 'Gender', 'Age', 'Address', 
]

df.columns = better_columns

In [72]:
#22
def calculate_extra_columns(df): 
    # Click Through Rate 
    df['CTR'] = df['Clicks'] / df['Impressions'] 
    
    # Cost Per Click 
    df['CPC'] = df['Spent'] / df['Clicks'] 
    
    # Cost Per Impression 
    df['CPI'] = df['Spent'] / df['Impressions'] 
    
calculate_extra_columns(df)

In [73]:
#23 

df[['Spent', 'Clicks', 'Impressions', 'CTR', 'CPC', 'CPI']].head(3)

    Spent  Clicks  Impressions       CTR       CPC       CPI
0   88196   34102       500001  0.068204  2.586241  0.176392
1  140098   27671       500000  0.055342  5.062990  0.280196
2   36722   45415       499999  0.090830  0.808587  0.073444

In [74]:
#24

clicks = df['Clicks'][0] 
impressions = df['Impressions'][0]
spent = df['Spent'][0] 
CTR = df['CTR'][0] 
CPC = df['CPC'][0] 
CPI = df['CPI'][0] 

print('CTR:', CTR, clicks / impressions) 
print('CPC:', CPC, spent / clicks) 
print('CPI:', CPI, spent / impressions)

CTR: 0.0682038635923 0.0682038635923
CPC: 2.58624127617 2.58624127617
CPI: 0.176391647217 0.176391647217

In [75]:
#25 

def get_day_of_the_week(day): 
    number_to_day = dict(enumerate(calendar.day_name, 1)) 
    return number_to_day[day.isoweekday()] 

def get_duration(row): 
    return (row['End'] - row['Start']).days

df['Day of Week'] = df['Start'].apply(get_day_of_the_week) 
df['Duration'] = df.apply(get_duration, axis = 1)

In [76]:
#26 

df[['Start', 'End', 'Duration', 'Day of Week']].head(3)

        Start         End  Duration Day of Week
0  2016-06-26  2017-02-28       247      Sunday
1  2016-11-30  2018-01-15       411   Wednesday
2  2016-02-07  2018-01-16       709      Sunday

In [77]:
#27 
final_columns = ['Type', 'Start', 'End', 'Duration', 
                 'Day of Week', 'Budget', 'Currency', 
                 'Clicks', 'Impressions', 'Spent', 
                 'CTR', 'CPC', 'CPI', 
                 'Target Age', 'Target Gender', 
                 'Username', 'Email', 'Name', 
                 'Gender', 'Age' 
                ] 

df = df[ final_columns]

In [78]:
#28 
df.to_csv('df.csv')

In [79]:
#29 
df.to_json('df.json')

In [80]:
#30 
df.to_excel('df.xls')